@import "./../../scss/abstracts/mixins";
@import "./../../scss/abstracts/variables";

.subscription {
  display: grid;
  grid-template-columns:
    [full-start] minmax(5rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 15rem) [col-end])
    [center-end]
    minmax(5rem, 1fr) [full-end];
  // justify-items: center;
  // align-items: center;
  // grid-row-gap: 1.5rem;

  background-color: $color-grey-light-2;
  padding: 5rem 0;
  width: 100%;
  color: $color-grey;
  font-size: 1.5rem;

  overflow: hidden;

  @include respond(phone) {
    padding: 5rem 1.5rem;
  }

  &__thankyou {
    grid-column: center-start / center-end;
    justify-content: center;
    align-items: center;
    grid-row: 1 / 2;

    display: grid;
    grid-row-gap: 1.5rem;
    justify-items: center;
    align-items: center;

    @include respond(phone) {
      grid-column: full-start / full-end;
    }

    img {
      height: 5rem;
    }
    p {
      font-size: 1.5rem;
      text-align: center;

      br {
        @include respond(phone) {
          display: none;
        }
      }
    }
  }

  &__news-letter {
    grid-column: center-start / center-end;
    grid-row: 1 / 2;
    justify-content: center;

    display: grid;
    justify-items: center;
    align-items: center;
    grid-row-gap: 1.5rem;

    @include respond(phone) {
      grid-column: full-start / full-end;
    }
  }
  &__topline {
    // grid-column: center-start / center-end;
    p {
      margin-bottom: 0;
      text-align: center;
    }
    .fa-bell-o {
      padding: 0 1rem;
    }
    span {
      font-weight: 500;
      font-style: italic;
      border-bottom: 1px solid $color-grey;
      color: $color-primary-light;
    }
  }

  // &__input-group {
  //   .fa-exclamation-triangle {
  //     color: royalblue;
  //   }
  // }

  &__email-box {
    // grid-column: center-start / center-end;
    display: flex;
    flex-direction: row;
    position: relative;

    .fa-envelope-o {
      position: absolute;
      left: 0;
      padding: 1rem 1.5rem;
    }
    .email-field {
      padding: 0.5rem 1rem;
      padding-left: 4rem;
      color: inherit;
      // outline: none;

      &--isValid {
        border-color: red;
      }

      &:focus {
        // border: 1px solid $color-secondary;
        outline-color: $color-primary;

        &::placeholder {
          color: $color-primary;
        }
      }
    }

    .email-field:focus ~ .fa-envelope-o {
      color: $color-primary;
    }
    button {
      background-color: $color-primary;
      color: $color-grey-light;
      outline: none;
      border: none;
      padding: 0.5rem 1rem;
      transition: background-color 0.2s, color 0.2s;

      &:hover {
        background-color: $color-primary-hover-btn;
        color: $color-grey-2;
      }
    }
  }

  &__errors-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: $color-error;
    font-size: 1.3rem;
    margin-top: 0.5rem;

    .fa-exclamation-triangle {
      margin-right: 0.5rem;
    }

    &__text {
      margin-bottom: 0;
    }
  }

  &__terms {
    // grid-column: center-start / center-end;
    font-size: 1.4rem;
    p {
      margin-bottom: 0;
      text-align: center;
    }

    span {
      font-weight: 500;
      color: $color-primary-light;
    }
  }
}

.footer {
  background: $color-primary;

  padding: 5rem;

  display: grid;
  grid-row-gap: 2rem;
  align-items: start;
  // justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  // grid-template-columns: repeat(4, 1fr);
  //   grid-template-rows: auto auto;

  // @include respond(tab-port-2) {
  //   grid-template-columns: repeat(2, 1fr);
  // }

  @include respond(tab-port) {
    padding: 5rem 2.5rem;
  }

  @include respond(tab-port-3) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include respond(phone) {
    grid-template-columns: 1fr;
  }

  &__links-container {
    // grid-row: 1 / 2;

    display: grid;
    justify-content: center;
    justify-items: center;
    grid-row-gap: 0.5rem;

    a {
      text-align: center;
    }
  }

  &__links-title {
    font-size: 1.6rem;
    color: #fff;
    font-weight: 500;
    margin-bottom: 1rem;
  }
  &__link {
    font-size: 1.4rem;
    color: $color-grey-2;
  }

  &__logos {
    grid-column: 1 / -1;
    align-self: center;
    justify-self: center;

    display: grid;
    justify-items: center;
    grid-gap: 2rem;
  }
  &__social-icons {
    grid-row: 1 / 2;
    font-size: 2.5rem;

    a {
      border: 1px solid $color-secondary;
      padding: 0.25rem 0.75rem;

      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
    .fa {
      color: $color-secondary;
    }

    &--facebook {
      padding: 0.25rem 1rem !important;
      &:hover {
        border: 1px solid $color-facebook !important;

        transition: border 0.5s;

        .fa {
          color: $color-facebook;
          transition: color 0.5s;
        }
      }
    }
    &--linkedin {
      &:hover {
        border: 1px solid $color-linkedin !important;

        transition: border 0.5s;

        .fa {
          color: $color-linkedin;
          transition: color 0.5s;
        }
      }
    }
    &--twitter {
      &:hover {
        border: 1px solid $color-twitter !important;

        transition: border 0.5s;

        .fa {
          color: $color-twitter;
          transition: color 0.5s;
        }
      }
    }
  }

  &__ms-icon {
    height: 4rem;
  }

  &__copyrights {
    grid-column: 1/-1;
    font-size: 1.4rem;
    color: $color-grey-light;
    padding: 1rem 2rem;
    margin: 0;
    border-top: 1px solid $color-grey;
    // text-align: center;

    display: grid;
    grid-template-columns: 1fr;

    &__region {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-bottom: 1rem;
      margin-top: 1rem;

      .fa-globe {
        margin-right: 1rem;
        font-size: 1.8rem;
      }
    }

    p {
      text-align: center;
    }
  }
}
