<div *ngIf="!isAvailable" class="container-generic">
  <div class="container-generic__loader"></div>
</div>

<div [@fade]="isAvailable ? 'in' : 'out'" class="generic-container">
  <div class="header__top">
    <img
      *ngIf="content.imageUrl"
      [src]="content.imageUrl"
      [alt]="content.imageAlt"
      [title]="content.imageTitle"
      class="header__icon"
    />
    <h1 class="header__title">{{ content.contentTitle | titlecase }}</h1>
  </div>

  <div class="left-side">
    <div class="sticky-container">
      <p class="links__title">{{ parentMenu | titlecase }}</p>

      <div class="links__container">
        <a
          *ngFor="let submenu of submenus"
          routerLink="{{ this.helperService.countryCodeHelperValue }}/{{ parentMenu }}/{{
            submenu.slug
          }}"
          class="links__link"
          [class.links__link--selected]="childMenu === submenu.slug"
          >{{ submenu.titleName }}</a
        >
      </div>
    </div>
  </div>

  <!-- [innerHtml]="content.details" -->
  <div class="content-side-specific">
    <div class="query-form">
      <div class="query-form__text-side">
        <p>
          Have any question or Query? Want to work with us? Let us know we would be happy to help
          you.
        </p>
      </div>
      <div class="query-form__contact-form">
        <div [@fadeInToOut]="isSaveClicked ? 'in' : 'out'" class="roller-anim-container">
          <div class="roller-anim-inner">
            <div class="lds-roller">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
        </div>

        <div [@fadeInToOut]="isResponseValid ? 'in' : 'out'" class="roller-anim-container">
          <div class="roller-anim-inner">
            <div class="is-response-valid">
              <i class="fa fa-check-circle" aria-hidden="true"></i>
              Your response has been submitted and we will contact you soon.
            </div>
          </div>
        </div>

        <div [@fadeInToOut]="isResponseNotValid ? 'in' : 'out'" class="roller-anim-container">
          <div class="roller-anim-inner">
            <div class="is-response-not-valid">
              <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
              There was an issue at our end while submitting, Please try again.
            </div>
          </div>
        </div>

        <p class="query-form__top-text">
          Kindly fill out the form and we will get back to you as soon as possible.
        </p>
        <form #f="ngForm" (ngSubmit)="f.form.valid && submit(f)" class="query-form__form">
          <div class="query-form__input-field">
            <i class="fa fa-user" aria-hidden="true"></i>
            <input ngModel required name="name" #name="ngModel" type="text" placeholder="Name" />
            <div *ngIf="f.submitted && name.invalid" class="query-form__error">
              <i
                *ngIf="name.errors.required"
                class="fa fa-exclamation-triangle"
                aria-hidden="true"
              ></i>
              <p class="error-message" *ngIf="name.errors.required">
                Name is required
              </p>
            </div>
          </div>
          <div class="query-form__input-field">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <input
              ngModel
              required
              pattern="^[^ @]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$"
              name="email"
              #email="ngModel"
              type="text"
              placeholder="E-mail"
            />
            <div *ngIf="f.submitted && email.invalid" class="query-form__error">
              <i
                *ngIf="email.errors.required || email.errors.pattern"
                class="fa fa-exclamation-triangle"
                aria-hidden="true"
              ></i>
              <p class="error-message" *ngIf="email.errors.required">
                Email is required
              </p>
              <p class="error-message" *ngIf="email.errors.pattern">
                E-mail is Invalid
              </p>
            </div>
          </div>
          <div class="query-form__input-field">
            <i class="fa fa-bars" aria-hidden="true"></i>
            <input
              ngModel
              required
              name="subject"
              #subject="ngModel"
              type="text"
              placeholder="Subject"
            />
            <div *ngIf="f.submitted && subject.invalid" class="query-form__error">
              <i
                *ngIf="subject.errors.required"
                class="fa fa-exclamation-triangle"
                aria-hidden="true"
              ></i>
              <p class="error-message" *ngIf="subject.errors.required">
                Subject is Required
              </p>
            </div>
          </div>
          <div class="query-form__input-field">
            <i class="fa fa-comments" aria-hidden="true"></i>
            <textarea
              ngModel
              required
              name="message"
              #message="ngModel"
              placeholder="Message"
              rows="3"
            ></textarea>
            <div *ngIf="f.submitted && message.invalid" class="query-form__error">
              <i
                *ngIf="message.errors.required"
                class="fa fa-exclamation-triangle"
                aria-hidden="true"
              ></i>
              <p class="error-message" *ngIf="message.errors.required">
                Message is Required
              </p>
            </div>
          </div>

          <button class="query-form__submit">Submit</button>
        </form>
      </div>
    </div>

    <!-- <h2 class="location">Location</h2> -->

    <div class="contact-grid">
      <div
        *ngFor="let contactAddress of contactAddresses; let i = index"
        class="contact-grid__card contact-grid__card--{{ i + 1 }}"
      >
        <img
          *ngIf="contactAddress.imageUrl"
          class="contact-grid__icon"
          [src]="contactAddress.imageUrl"
          [alt]="contactAddress.imageAlt"
          [title]="contactAddress.imageTitle"
        />
        <h4 class="contact-grid__heading">{{ contactAddress.title }}</h4>
        <p class="contact-grid__address">
          {{ contactAddress.address }}
        </p>
        <p *ngIf="contactAddress.telephone" class="contact-grid__telephone">
          <b>Tel :</b> {{ contactAddress.telephone }}
        </p>
        <p *ngIf="contactAddress.fax" class="contact-grid__fax">
          <b>Fax :</b> {{ contactAddress.fax }}
        </p>
        <a target="_blank" class="contact-grid__location" [href]="contactAddress.locationLink"
          >View Location</a
        >
      </div>

      <!-- <div class="contact-grid__card contact-grid__card--one">
        <img
          class="contact-grid__icon"
          src="./../../assets/images/contact-icons/islamabad.png"
          alt="Islamabad Location"
        />
        <h4 class="contact-grid__heading">Head Office</h4>
        <p class="contact-grid__address">
          Office # 2, 2nd Floor, Executive Center, I-8 Markaz, Islamabad, Pakistan.
        </p>
        <p class="contact-grid__telephone"><b>Tel :</b> +92 51 4938394-6</p>
        <p class="contact-grid__fax"><b>Fax :</b> +92 51 4938396</p>
        <a
          target="_blank"
          class="contact-grid__location"
          href="https://www.google.com/maps/place/TMR+Consulting+(Pvt.)+Ltd./@33.6662374,73.0719883,17z/data=!3m1!4b1!4m5!3m4!1s0x38df9545c3489307:0x66a281aef49166d7!8m2!3d33.666233!4d73.074177"
          >View Location</a
        >
      </div>

      <div class="contact-grid__card contact-grid__card--two">
        <img
          class="contact-grid__icon"
          src="./../../assets/images/contact-icons/lahore.png"
          alt="Lahore Location"
        />
        <h4 class="contact-grid__heading">Lahore Office</h4>
        <p class="contact-grid__address">
          Suite 4-C, Model Town, Lahore, Pakistan.
        </p>
        <p class="contact-grid__telephone"><b>Tel :</b> +92 42 35857747-48</p>
        <p class="contact-grid__fax"><b>Fax :</b> +92 42 35857745</p>
        <a
          target="_blank"
          class="contact-grid__location"
          href="https://www.google.com/maps/place/TMR+Consulting+(Pvt.)+Ltd./@31.490346,74.3269683,17z/data=!3m1!4b1!4m5!3m4!1s0x3919041bd9ec7adf:0x8d3c2f7137c320c4!8m2!3d31.4903414!4d74.329157"
          >View Location</a
        >
      </div>

      <div class="contact-grid__card contact-grid__card--three">
        <img
          class="contact-grid__icon"
          src="./../../assets/images/contact-icons/mazar-e-quaid.png"
          alt="Karachi Location"
        />
        <h4 class="contact-grid__heading">Karachi Office</h4>
        <p class="contact-grid__address">
          Office# 506, 5th Floor, Westland Trade Center, Shaheed-e-Millat Road, Near Baloch Colony
          Flyover, Karachi, Pakistan.
        </p>
        <p class="contact-grid__telephone"><b>Tel :</b> +92 320 0200087</p>
        <a class="contact-grid__location" href="">View Location</a>
      </div>

      <div class="contact-grid__card contact-grid__card--four">
        <img
          class="contact-grid__icon"
          src="./../../assets/images/contact-icons/Burj_Al_Arab.png"
          alt="Dubai Location"
        />
        <h4 class="contact-grid__heading">UAE Office</h4>
        <p class="contact-grid__address">
          MBC, 9th Floor, Conrad Tower, Sheikh Zaid Road, Dubai.
        </p>
        <p class="contact-grid__telephone"><b>Tel :</b> +971 52 1549602</p>
        <a
          target="_blank"
          class="contact-grid__location"
          href="https://www.google.com/maps/place/TMRC+UAE/@25.0612838,54.8487765,10z/data=!3m1!4b1!4m5!3m4!1s0x3e5f42ee5c6e05b9:0x6d2565fd986a501f!8m2!3d25.0609246!4d55.1289795"
          >View Location</a
        >
      </div> -->
    </div>
  </div>
</div>
