@import "./../../scss/abstracts/mixins";
@import "./../../scss/abstracts/variables";

.generic-container {
  display: grid;
  grid-template-columns: [full-start] 2fr [center-start] 6fr [center-end] 2fr [full-end];

  //   grid-template-columns:
  //     [full-start] minmax(5rem, 1fr)
  //     [center-start] repeat(8, [col-start] minmax(min-content, 15rem) [col-end]) [center-end]
  //     minmax(5rem, 1fr) [full-end];
}
// ~~~ Top Section ~~~
.header {
  &__top {
    grid-column: 1 / -1;
    background-color: $color-primary;
    padding: 3rem;

    display: grid;
    justify-items: center;
    align-items: center;
    grid-row-gap: 1rem;
  }

  &__icon {
    height: 7rem;
  }

  &__title {
    font-size: 4rem;
    color: $color-secondary;
    margin: 0;
    text-align: center;

    @include respond(phone) {
      font-size: 3rem;
    }
  }
}

.sticky-container {
  position: sticky;
  top: 9rem;

  display: grid;
  justify-items: start;
}
.left-side {
  display: flex;
  flex-direction: column;
  padding: 2.5rem;

  @include respond(tab-land) {
    padding: 3rem 2rem;
  }
}
.left-side {
  border-right: 1px solid $color-grey-light;

  @include respond(tab-port-near) {
    display: none;
  }
}

// ~~~ Links ~~~
.links {
  //   grid-column: full-start / center-start;
  //   background-color: lightblue;

  &__title {
    font-size: 1.6rem;
    border-bottom: 3px double $color-primary;
    font-weight: 500;
    margin: 1rem 0.5rem;

    // For flex, that aligns at start.
    align-self: flex-start;
  }

  &__container {
    display: grid;
    grid-gap: 0.25rem;
    position: relative;

    &--line::before {
      content: "";
      position: absolute;
      left: -1rem;
      top: 2rem;
      bottom: 1.5rem;
      //height: 100%;
      width: 1px;
      background: $color-grey-light;
    }
  }

  &__link {
    font-size: 1.5rem;
    color: $color-primary;
    text-decoration: none;
    transition: background-color 0.1s, color 0.1s;
    padding: 0.3rem 0.5rem;
    line-height: 1.5;
    position: relative;

    &--circle:hover {
      color: $color-secondary !important;
      background-color: transparent !important;

      &::before {
        background-color: $color-secondary;
      }
    }
    &--circle::before {
      content: "";
      position: absolute;
      top: 50%;
      left: -1.3rem;
      height: 0.8rem;
      width: 0.8rem;
      border-radius: 50%;
      background-color: $color-grey-light;
    }

    &--selected {
      color: $color-primary;
      font-weight: 500;
    }

    &:hover {
      background-color: $color-secondary;
      color: white;
    }
  }
}

.content-side-specific {
  grid-column: center-start / full-end;
  padding: 3rem 3rem;

  @include respond(tab-port-near) {
    grid-column: full-start / full-end;
  }
}
// .location {
//   text-align: center;
//   justify-self: center;
// }

.contact-grid {
  display: grid;
  // align-items: start;

  width: 100%;

  grid-template-columns: 1fr 1fr;
  font-size: 1.5rem;

  @include respond(tab-port-3) {
    grid-template-columns: 1fr;
  }

  &__card {
    display: grid;
    grid-row-gap: 0.5rem;
    justify-items: center;
    align-content: center;
    padding: 2.5rem 0;
    // border: 1px solid $color-grey-light;

    &--1 {
      border-right: 1px solid $color-grey-light-2;
      border-bottom: 1px solid $color-grey-light-2;
      @include respond(phone) {
        border: none;
      }
    }

    &--2 {
      border-left: 1px solid $color-grey-light-2;
      border-bottom: 1px solid $color-grey-light-2;

      @include respond(phone) {
        border: none;
      }
    }

    &--3 {
      border-right: 1px solid $color-grey-light-2;
      border-top: 1px solid $color-grey-light-2;

      @include respond(phone) {
        border: none;
      }
    }

    &--4 {
      border-left: 1px solid $color-grey-light-2;
      border-top: 1px solid $color-grey-light-2;

      @include respond(phone) {
        border: none;
      }
    }

    @include respond(tab-port-near) {
      padding: 2.5rem 2.5rem;
    }

    @include respond(tab-port-3) {
      margin-bottom: 1.5rem;

      border: none;

      &:not(:last-child) {
        border-bottom: 1px solid $color-grey-light-2;
      }
    }
    @include respond(phone) {
      border: none;
      padding: 2.5rem 0;

      &:not(:last-child) {
        border-bottom: 1px solid $color-grey-light-2;
      }
    }

    & > * {
      text-align: center;
    }
  }

  &__icon {
    height: 8rem;
    margin-bottom: 1rem;
  }

  &__heading {
    font-size: 2rem;
    margin-bottom: 0;
  }

  &__item {
    margin-bottom: 0;
  }

  &__location {
    text-decoration: none;
    color: $color-grey;
    font-size: 1.4rem;
    // text-transform: uppercase;
    letter-spacing: 0.5px;
    padding: 0.25rem 1rem;
    border: 1px solid $color-grey-light;

    transition: color 0.2s, background-color 0.2s;

    &:hover {
      background-color: $color-primary-light;
      color: $color-grey-light;
    }
  }
}

.query-form {
  // grid-column: center-start / full-end;
  // padding: 3rem;
  margin-bottom: 5rem;
  font-size: 1.5rem;

  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;

  @include respond(tab-port-3) {
    grid-template-columns: 1fr;
  }

  // &::after {
  //   content: "";
  //   border: 1px solid $color-grey-light-2;
  //   grid-column: 1 / -1;
  //   margin-top: 3rem;
  // }

  &__text-side {
    grid-column: 1 / 2;
    // padding: 2.5rem 5rem;
    @include respond(tab-port-3) {
      grid-column: 1 / -1;
      padding: 0 5rem;
    }

    @include respond(phone) {
      padding: 0;
    }

    p {
      font-weight: 500;
      font-style: italic;
      color: $color-primary-light;
      text-align: center;
    }
  }

  &__contact-form {
    grid-column: 2 / 3;
    padding: 0 5rem;
    position: relative;
    overflow: hidden;

    @include respond(tab-port-3) {
      grid-column: 1 / -1;
    }

    @include respond(phone) {
      padding: 0;
    }
  }

  &__top-text {
    margin-bottom: 1rem;
  }

  &__form {
    display: grid;
  }

  &__input-field {
    position: relative;
    margin: 1rem 0;

    .fa-envelope,
    .fa-user,
    .fa-bars,
    .fa-comments {
      position: absolute;
      top: 1rem;
      left: 1rem;
      color: $color-primary-light;
    }

    input[type="text"],
    textarea {
      padding: 0.5rem 1rem;
      padding-left: 3rem;
      width: 100%;

      &:focus {
        outline-color: $color-primary;

        &::placeholder {
          color: $color-primary-light;
        }
      }
    }

    // textarea {
    //   padding: 0.5rem 1rem;
    //   width: 100%;
    // }
  }

  &__submit {
    justify-self: center;
    padding: 0.5rem 1.5rem;
    background-color: $color-primary;
    color: #fff;
    border: none;
    outline: none;
    transition: background-color 0.2s, color 0.2s;

    &:hover {
      background-color: $color-primary-hover-btn;
      color: $color-grey-light;
    }
  }

  &__error {
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: $color-error;

    .fa-exclamation-triangle {
      margin-right: 0.5rem;
    }
  }
}
.error-message {
  margin-bottom: 0 !important;
}

.roller-anim-container {
  height: 100%;
  width: 100%;
  position: absolute;

  background-color: rgba(white, $alpha: 0.8);
}
.roller-anim-inner {
  height: 100%;
  width: 100%;

  display: grid;
  align-content: center;
  justify-content: center;
}
.is-response-valid {
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
}
.is-response-not-valid {
  color: $color-error;
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
}
.lds-roller {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  // margin-top: -15rem;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: $color-primary;
  margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
