/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.min.css";

@import "./scss/main.scss";

// ~~~ Bg color for pagination control / was not applying in blogs so pasted here globally. ~~~
.ngx-pagination .current {
  background-color: $color-primary !important;
}
// For dynamic content injection in blog details
.dynamic-content {
  display: grid;
  padding: 3rem;
  h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;

    @include respond(phone) {
      font-size: 2.2rem;
    }
  }
  p {
    font-size: 1.6rem;
    line-height: 2;
    color: $color-primary-light;
    margin-bottom: 2rem;
  }
  img {
    max-width: 100%;
    height: auto;
    margin-bottom: 2rem;
    justify-self: center;
  }
}
// --------------------------

// For dynamic content injection in Generic
// --------------------------
.content-side {
  padding: 3rem;
  display: grid;
  justify-items: start;

  // @include respond(tab-land) {
  //   padding: 3rem 3rem;
  // }
  @include respond(tab-port-near) {
    grid-column: full-start / center-end;
    padding: 3rem 3rem;
  }

  @include respond(phone) {
    grid-column: full-start / full-end;
  }

  // p {
  //   font-size: 1.6rem;
  // }

  h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;

    @include respond(phone) {
      font-size: 2rem;
    }
  }

  h3 {
    padding-bottom: 3px;
    border-bottom: 3px double $color-primary-light;
  }

  p {
    font-size: 1.5rem;
    line-height: 1.8;
    color: $color-primary-light;
    margin-bottom: 2rem;
  }

  img {
    max-width: 100%;
    height: auto;
    margin-bottom: 2rem;
    justify-self: center;
  }
}
// -------------------------

// dynamic content - News
// ----------------------------------
.news-content {
  display: grid;
  // padding: 3rem;
  h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;

    @include respond(phone) {
      font-size: 2rem;
    }
  }
  p {
    font-size: 1.6rem;
    line-height: 1.8;
    color: $color-primary-light;
    margin-bottom: 2rem;
  }
  img {
    height: auto;
    max-width: 100%;
    margin-bottom: 2rem;
    justify-self: center;
  }
}

// ----------------------------------

// For dynamic content injection in Careers.
// ----------------------------------

.job__description {
  margin-top: 2rem;
  display: grid;
  // padding: 3rem;
  h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  p {
    font-size: 1.5rem;
    line-height: 2;
    color: $color-primary-light;
    margin-bottom: 2rem;
  }
  img {
    max-width: 100%;
    margin-bottom: 2rem;
    justify-self: center;
  }
}

// Change side scroll bar
// ~~~~~~~~~~~~~~~~~~~~~

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

// ~~~~~~~~~~~~~~~~~~~~~

.container-generic {
  height: 100vh;
  width: 99vw;
  display: grid;
  justify-content: center;
  align-content: center;
  overflow: hidden;

  &__loader {
    border: 0.25rem solid $color-primary;
    border-radius: 50%;
    border-top: 0.25rem solid $color-secondary;
    width: 5rem;
    height: 5rem;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
